In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv (r'C:\DE\Datasets\adventure\archive\AdventureWorks_Sales_2017.csv')

In [3]:
df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,1/1/2017,12/13/2003,SO61285,529,23791,1,2,2
1,1/1/2017,9/24/2003,SO61285,214,23791,1,3,1
2,1/1/2017,9/4/2003,SO61285,540,23791,1,1,1
3,1/1/2017,9/28/2003,SO61301,529,16747,1,2,2
4,1/1/2017,10/21/2003,SO61301,377,16747,1,1,1